build/
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.cc
ios/Runner.xcodeproj/project.pbxproj
ios/Podfile.lock
ios/Podfile
.flutter-plugins-dependencies
.flutter-plugins
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/dartpad/web_plugin_registrant.dart
.flutter-plugins-dependencies
.flutter-plugins
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/dartpad/web_plugin_registrant.dart
backend/chiave.txt
ios/Podfile.lock
ios/Runner.xcodeproj/project.pbxproj
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
